<h1> Your Account: </h1>
Welcome, <%=@user.username%>!<br>
<form action ="/account" method="POST">
    <label for=type>Type of Hang:
    <input type=text name=type> <br>
    <label for=duration>Duration (seconds):
    <input type=number name=duration> <br>
    <input type=submit value="Add exercise">
</form>
<h2>Your hangs:</h2>
<%= %> 