<h1> Your Account: </h1>
Welcome, <%=@user.username%>!<br>
<form action ="/signout" method="POST">
  <input type="submit" value="Sign Out">
</form>
<form action ="/account" method="POST">
    <label for=exercise>Type of Hang:
    <input type=text name=exercise> <br>
    <label for=duration>Duration (seconds):
    <input type=number name=duration> <br>
    <input type=submit value="Add exercise">
</form>
<h2>Your hangs:</h2>
<table>
  <tr>
    <th>Exercise</th>
    <th>Duration</th>
    <th>Date</th>
  </tr>
  <% Hang.where("user_id = #{session[:user_id]}").each do |hang| %>   
    <tr>
      <th><%= hang.exercise%></th>
      <th><%= hang.duration%></th>
      <th><%= "#{hang.time.month}-#{hang.time.day}-#{hang.time.year}"%></th>
    </tr>
  <% end %>
</table>

<form action="/account" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 
