Old values:<br>
Exercise: <%= @hang.exercise%>, Duration: <%= @hang.duration%>, Date: <%= "#{@hang.time.month}-#{@hang.time.day}-#{@hang.time.year}"%> <br>
New values:<br>
<form action="/account/<%= @hang.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for=exercise>Exercise: </label>
  <input type="text" name=exercise>
  <label for=duration>Duration: </label>
  <input type="number" name=duration>
  <input type=submit value=Submit>
</form> 