<h3>Strong Grips Sign Up</h3>
<form action="/signup" method="POST">
	<label for=username>USERNAME:</label>
	<input type="text" name="username" placeholder="Hercules1234"><br>
	<label for="password">PASSWORD:</label>
	<input type="password" name="password" placeholder="123456abcd"><br>
	<input type="submit" value="Sign Up">
</form>